a {
    color: inherit;
}

.project-box {
    float: left;
    width: 48%;
    margin: 1%;
}

.project-box:hover img {
    opacity: 0.5;
}

.project-box:hover a {
    text-decoration: none;
}

.project-text-box {
    background: rgba(230,230,230, 0.5);
    padding: 2%;
    opacity: 1;
}

.float-clear {
    clear: both;
}

.link-visible {
    color:#424fe9;
}

.link-visible:hover {
    color:#424fe9;
}