a {
    color: inherit;
}

figcaption{
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
}

.project-container{
    display:flex;
    flex-wrap:wrap;
}

.project-box {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(230,230,230, 0.5);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    
    margin-bottom: 5%;

    @media(max-width: 1000px){
        width: 90%;
    }
}

.project-box:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

.project-box:hover img {
    opacity: 0.5;
}

.project-box:hover a {
    text-decoration: none;
}

.project-text-box {
    padding: 2%;
    opacity: 1;
}

.float-clear {
    clear: both;
}

.link-visible {
    color:#424fe9;
}

.link-visible:hover {
    color:#424fe9;
}

.link-box{
    margin-left: auto;
    margin-right: 22.5%;
    margin-top: 24px;   /* svg is fixed pixel size, so top margin needs to be fixed size too */
    @media(max-width: 1000px){
        margin-right: 5%;
    }
    transform: scale(3);
}

.image-text-container{
    display: flex;
    @media(max-width: 1000px){
        display: inline;
    }
}

.image-text-text-container{
    margin-right:3%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width: 1000px){
        margin-right:0%;
    }
}

.image-text-image-container{
    img{
        width:100%
    }
    min-width:30%;
    margin-left:auto;
    margin-right:auto;
    width:max-content;
    @media(max-width: 1000px){
        margin-top:2%;
    }
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.image_tripple{
    width :30%;
    margin-left: auto;
    margin-right: auto;
    
    @media(max-width: 1000px){
        min-width: 60%;
    }
}